@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*****************************
  Typrgraph
 *****************************/
 html,body{
   font-family: 'Roboto', sans-serif;
   
 }

 h1,h2,h3,h4{
  font-family: 'Roboto', sans-serif;

 }

 
 p{
  font-family: 'Roboto', sans-serif;

 }

 .btn{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   
 }

 .fa{
   font-weight: 300;
 }

/*****************************
           Navbar
 *****************************/

 .navbar{
 	margin:0;
 	padding:0;
    font-family: 'Roboto', sans-serif;
}

.navbar .navbar-brand{
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   font-size: 28px;
   color:#9E9E9E;

}

.nav li a{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

/****************************
       section login
 ****************************/

 #login{
  font-family: 'Roboto', sans-serif;
  margin:0 auto;
  padding:0;

 }

 #login h1{
 	font-weight: 400;
 	text-align: center;
 	color:#9E9E9E;
 }

 #login p{
 	color:#9E9E9E;
 	text-align: center; 
 }

 #login form{
 	text-align: center;
 }

 #login .form-control{
 	  height: 40px;
    font-family: 'Roboto', sans-serif;
    color:#757575;
    font-weight: 300;

 }

/****************************
      section signup
 ****************************/

 #signup{
  font-family: 'Roboto', sans-serif;
  margin:0 auto;
  padding:0;

 }

 #signup h1{
 	font-weight: 400;
 	text-align: center;
 	color:#9E9E9E;
 }

 #signup p{
 	color:#9E9E9E;
 	text-align: center; 
 }

 #signup form{
 	text-align: center;
 }

 #signup .form-control{
 	height: 40px;
    font-family: 'Roboto', sans-serif;
    color:#757575;
    font-weight: 300;

 }


 /****************************
      section add recipe
  ****************************/
 #addrecipe{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding:0;
 }

 #addrecipe h2{
  text-align: center;
  color: #757575;
  font-weight: 300;
 }

 #addrecipe .input{
   border:0;
 }

 #addrecipe .tag-group{
   border-bottom:1px solid #81D4FA;

 }

 #addrecipe .tags{
   margin-top: 10px;
   margin-bottom: 8px;
 }

 #addrecipe .form-group a{
   color:#FF8A65;
 }

 #addrecipe .form-group a:hover{
    text-decoration: none;
 }

 #addrecipe .tags .label{
   width: 60%;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 13px;
   margin-right: 5px;
   
 }

 #addrecipe .label span{
   padding-left: 8px;
   cursor: pointer;
 }

 .well{
   height: 40px;
   padding-bottom: 5px;
 }

 /****************************
      section recipe
  ****************************/
 #recipes{
   margin-top: 15px;
 }

 #recipes h2{
   text-align: center;
   color:#9E9E9E;
 }

 #recipes .panel{
    opacity: .9;
   -moz-transition: all 0.3s ease-out;
 }

 #recipes .panel:hover{
   opacity: 1;
   -moz-transform: scale(1.2);
 }

 #recipes .panel .panel-heading h3{
   color:#9E9E9E;
   font-weight: 300;
 }

 #recipes .read-more{
   margin-top: 10px;
 }

 #recipes .read-more a{
   color: #9E9E9E;
   font-weight: 300;
 }

 #recipes .read-more a:hover{
     color:#F44336;
     opacity: 2;
    -moz-transition: all 0.5s ease-out;
     text-decoration: none;
 }

 /*****************************
         Section details
 *****************************/
 #details{
   margin:0;
   padding:0;
   border:0;
 }

 #details .col-sm-4 img{
    margin-top:20px;
    padding: 0;
 }

 #details h2, h4{
   color: #9E9E9E;
   font-weight: 300;
   letter-spacing: 1px;
 }

 #details p{
   color:#BDBDBD;
   line-height: 10px;
   font-weight: 400;
   letter-spacing: 1px;
 }


 /*****************************
           Manage
 *****************************/
 #manage{
   margin:0;
   padding:0;
 }

 #manage h2{
   color:#9E9E9E;
   font-weight: 300;
   letter-spacing: 1px;
 }

 #manage .alert{
   margin-top: 20px;
   color: #212121;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
 }

 #recipes .table{
   border: 1px solid #9E9E9E !important;
   margin-top: 45px;
 }

 #recipe .table thead,th{
   color: #9E9E9E;
   font-weight: 300;
 }

 #recipes tbody tr td{
   color: #9E9E9E;
 }

 #manage .img-manage{
   width:100px;
 }