<section id="details">
	<div class="row">
		<div class="col-sm-4">
			<img ng-src="{{recipe.image}}" alt="Recipe image" class="img-responsive">
		</div><!--End of col-sm-4-->
		<div class="col-sm-6">
			<h2>{{recipe.name}}</h2>
		</div><!--End of col-sm-6-->
		<div class="col-sm-6">
		    <h4>Ingredients</h4>
			<p>{{recipe.ingredients}}</p>
		</div><!--End of col-sm-6-->
		<div class="col-sm-6">
		    <h4>Making</h4>
			<p>{{recipe.making}}</p>
		</div><!--End of col-sm-6-->
	</div><!--End of row -->
</section><!--End of details--> 